header img {
    width: 187px;
    margin-bottom: 10px;
}

header {
    margin-bottom: 70px;
}
header h1 
{
    font-size: 26px;
}

#header_h1 {
    margin-left: 25px;
    margin-right: 25px;
}

#header_p {
    font-size: 20px;
    margin: -10px 10px 25px 10px;
}

#geolocalisation {
    width: 100%;
    background-color: rgb(224, 224, 224);
    text-align: center;
}

#div_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exploration {
    text-align: center;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.fa-map-marker-alt {
    margin-right: 15px;
}

#bouton_explorer {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border: 0px;
    border-radius: 30px;
    box-shadow: 1px 3px 7px rgba(155, 155, 155, 0.74);
    padding: 18px 20px 18px 20px;
    margin-bottom: 40px;
    font-size: 18px;

}

.div_fonctionnement {
    display: flex;
    align-items: center;
}
#titre_fonctionnement
{
    margin-left: 10px;
}

.numero_fonctionnement {
    border: 0px;
    background-color: #9356DC;
    color: white;
    padding: 4px 8px 2px 8px;
    border-radius: 20px;
    position: relative;
    margin-right: -10px;
    margin-bottom: 0px;

}

.bouton_fonctionnement {
    background-color: rgb(241, 241, 241);
    border: 0px;
    border-radius: 18px;
    box-shadow: 1px 3px 7px rgba(155, 155, 155, 0.74);
    padding: 23px 0px 23px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: -2px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 0px;
}

.fa-mobile {
    color: grey;
    padding-right: 37px;
    margin-left: -27px;
}

.fa-list {
    color: gray;
    padding-right: 31px;
    margin-left: -47px;
}

.fa-store {
    color: grey;
    padding-right: 29px;
    margin-left: -41px;
}

section {
    background-color: rgb(241, 241, 241);
    padding-top: 30px;
    padding-bottom: 30px;
}

section h1 {
    margin-left: 20px;
}

.card {
    width: 90%;
    height: 250px;
    margin: 0px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card a {
    color: #333;
    text-decoration: none;
}

.card_image {
    height: 70%;
    overflow: hidden;
    border-radius: 20px 20px 00px 00px;
}

.card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card_body {
    text-align: start;
    padding: 0px 20px;
}

.card_title {
    font-size: 18px;
    margin-top: -7px;
    margin-bottom: -20px;
}

.card_lieu {
    font-size: 19px;
    margin-top: 0px;
}

footer {
    background-color: rgba(15, 15, 15, 0.897);
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}

footer h1 {
    margin-left: 25px;
    color: white;
    font-size: 18px;
    font-style: italic;
}

footer li {
    list-style: none;
    margin-left: -15px;
}

.fa-utensils {
    padding-right: 10px;
}

.fa-handshake {
    padding-right: 10px;
    width: 13px;
}